* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 550px;
    height:500px; 
    margin: 20px auto; 
    border: 1px solid #000; 
    background-color: rgb(168, 138, 182);
}


input{
    width: 70%;
    height: 60px; 
    font-size: 1.3em;
    padding-left: 10px;
}
button{
    padding: 20px 30px;
    font-weight:700;
    background-color: cornflowerblue;
    color:#fff;

    }

li{
    list-style-type: none;
    padding: 10px 0 10px 10px;
    border-bottom: 2px solid #494848;
}